/*body detalhes do produto*/ 

.banner{
    display: block;
    align-items: center;
    max-width: 93vw;
    max-height: 100%;
    padding: 1%;
    justify-content: center;
}
.botoes{
    display: flex;
    justify-content: center;
}
#botao-esquerda{
    max-width: 10vw;
    max-height: 10%;
    width: auto;
    height: auto;
    z-index: 15;
    position: relative;
    right:39vw;
    top: -29vh;
    
}
#botao-direita{
position: absolute;
max-width: 10vw;
max-height: 10%;
width: auto;
height: auto;
z-index: 15;
position: relative;
    right:-500px;
    top: -170px;
}
#seta-esquerda{ 
    max-width: 10vw;
    max-height: 10%;
    width: auto;
    height: auto;
    z-index: 20;
    position: relative;
    right:37.3vw;
    top: -27.2vh;
}
#seta-direita{ 
    max-width: 10vw;
    max-height: 10%;
    width: auto;
    height: auto;
    z-index: 20;
    position: relative;
    right: -525px;
    top: -160px;
    }
.detalhes-do-produto{
    display: flex;
    position: relative;
    margin-left: 1%; 
    background-color: #e9e9e9;
    width: 91vw;
    padding: 1%;
}
.Descrição{
position: relative;
width: 266px;
height: 33px;

font:"Lucida Grande", Helvetica, Arial, sans-serif;
font-style: bold;
font-weight: 750;
line-break: normal;
font-size:40px;
line-height: 40px;
display: flex;
margin-top: -90%;
color: #FFFFFF;
margin-left: 170%;
padding: 1%;
text-shadow: #333333;
}
.foto-produto{
    display: flex;
    position: relative;
    margin-left: 2%;
   left: -45%;
}
.infos-produto{
    display: flex;
    text-align: justify;
    margin-left: 100%; 
}
.produto{
    width: 608px;
    height: 450px;
    }
.preço{
  
width: 266px;
height: 33px;

font: "Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 27px;
display: flex;
align-items: center;
text-align: center;

color: #333333;
}
.nomeproduto{

width: 237px;
height: 33px;
font-weight: 750;
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 27px;

color: #333333;
}

.textoproduto{
position: relative;
width: auto;
height: auto;
font: "Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
text-align: justify;
margin-left: -80%;
padding: 1%;
color: #333333;
}
.menu{
    display: flex;
    position:relative;
    justify-content: center;
}

.video-produto{
    display: flex;
    position:relative;
    justify-content: center;   
    max-width: 93vw;
    max-height: 100%;
}
.video{
position: relative;
justify-content: center;
margin-top: 2%;
}
.play{
    position: relative;
    display: flex;   
    width: 58px;
    height: 59px;
    left:-21.5%;
    margin-top: 10%
    }
.legenda-video{
    
width: 448px;
height: 45px;

font: "Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
text-align: center;
margin-left: -8%;

color: #333333;

}
.jogos-sugeridos{
  
width: 266px;
height: 33px;

font:"Lucida Grande", Helvetica, Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 27px;
display: flex;
align-items: center;

color: #333333;

}
.nomeproduto{
    display: flex;
    position: relative;
    font-size: 30px;   
    margin-top: -160%;
    font-weight: 400;
    margin-left: -80%;
}
.preço{
    display: flex;
    position: relative;  
    margin-top: -10%;
    font-weight: 400;
    margin-left: -80%;  
}
.opcoesjogos{
    display: flex;
    padding: 1%;
    padding-bottom: 5%;
}
.opcao-1{
   
    width: 120px;
    height: 105px;
}
.opcao-2{

    width: 105px;
    height: 105px;
}
.opcao-3{
    width: 150px;
    height: 105px;
}
.menu{
    position: flex;
}