/*footer*/

footer{
    display: relative;
    width: 100vw;
    height: 36%;
    margin-bottom: -1%;
    top:5vw;
    -ms-flex-align:end;
    background-color: #333333;
}  

.TextoLegal{
    position: relative;
    right: -5vw;
    width: 90vw;
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
   font-style: normal;
   font-size: 15px;
   padding-top: 4%;
   padding-bottom: 0.1%;
       text-align:center;
       color: #FFFFFF;
   }
   .redes-sociais{
    display: flex;
    margin-left: 50%;
    align-items: center;
}
    .redes{
        display: relative;  
        font: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-size: 15px;
        align-content: center;
        margin-left: -20%;
        margin-top: 3%;
        padding:2px;
            text-align:center;
            color: #FFFFFF;
    }
    .logo-redes{
        display: flex;  
        flex-direction: row;
        
    }
    .instagram{
        padding-right:10px;
        max-width:200px;
        max-height:200px;
        width: auto;
        height: auto;        }
    .Facebook{
        padding-right:10px;
        max-width:200px;
        max-height:200px;
        width: auto;
        height: auto;
    }
    .WhatsApp{
        padding-right:10px;
        max-width:200px;
        max-height:200px;
        width: auto;
        height: auto;
    }
    