/*body home*/

.titulo{
    padding-top:1px;
    display: flex;
    justify-content: center;
}
  a {
    color: #00B7FF;
  }
 

  h1{
      margin-top: 1px;
  }
  
  img{
      max-width: 100%;
      display: block;
  }

  .flex {
      display: flex;
      flex: wrap;
      max-width: 1200px;
      margin: 0 auto;
      
      }

  .flex > div{
      flex: 1 1 200px;
      margin: 15px;
  }

  .flex{
    transition: all 0.5s;
    cursor: pointer;
}

.flex:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}


  .flex2 {
    display: flex;
    flex: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
    }

    .flex2 > div{
        flex: 1 1 200px;
        margin: 15px;
    }

    .anuncio{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .procurados {
        display: flex;
        flex: wrap;
        max-width: 1200px;
        margin: 0 auto;
        
        }
  
    .procurados > div{
        flex: 1 1 200px;
        margin: 15px;
    }

    .lancados {
        display: flex;
        flex: wrap;
        max-width: 1200px;
        margin: 0 auto;
        
        }
  
    .lancados > div{
        flex: 1 1 200px;
        margin: 15px;
    }

         
