* {
    box-sizing: border-box;
}

/*main*/
main{
    padding-top: 10%;
    padding-left: 3%;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:  #f0f0f0;
    margin-left: -1%;
 
  }

        /*Ajustar o conteudo para Smartphones*/

@media screen and (min-widht:480px){
    body{
        max-width: 480px;
        font-size: 1.0em;
    }
}



        
        
