<!DOCTYPE html>
<head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
    <title>Erro login</title></head>

<body>
   
<main>
    <html>
        <h1>Seja bem-vindo(a)!</h1>
        <div class="cadastro">
        <div class="Login">
            <h2>LOGIN</h2>
        <form id="formularioLogin" action="/usuario/login" method="post" name="formularioLogin">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="email" id="email1" name="emailLogin" required/>
            </div>
            <div class="password">
                <label for="password">Senha</label>
                <input type="password" id="password1" name="senhaLogin" required/>
            </div>
            <h5 class="loginError">Dados de login incorretos!</h5>
                <button action="/users/login" method="post" >Enviar</button>
            
        </form>
    </div>
</div>

</html>
</main>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</body>
</html>   