<head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
    <title>Cadastro | Login</title></head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
<main>
    <html>
        <h1>Seja bem-vindo(a)!</h1>
        <div class="cadastro">
        <div class="Login">
            <h2>LOGIN</h2>
        <form id="formularioLogin">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="email" id="email1"/>
            </div>
            <div class="password">
                <label for="password">Senha</label>
                <input type="password" id="password1"/>
            </div>
          
            <a href="http://localhost:3000/painelusuario">
                <button>Enviar</button>
            </a>
        </form>
    </div>

    <div class="layoutCadastro"><h2>QUERO ME CADASTRAR</h2>
    <form id="formularioCadastro">
        <div class="name">
            <label for="name">Nome</label>
            <input type="text" id="name"/>
        </div>
        <div class="email">
            <label for="email">E-mail</label>
            <input type="email" id="email"/>
        </div>
        <div class="password">
            <label for="password">Senha</label>
            <input type="password" id="password"/>
        </div>
        <div class="adress">
            <label for="adress">Endereço</label>
            <input type="text" id="adress"/>
        </div>
        <a href="http://localhost:3000/painelusuario"></a> <button>Enviar</button></a>
    </form>
</div>
</div>
    <ul id="errors"></ul>
</html>
</main>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</body>