<!DOCTYPE html>
<head><%- include("./partials/head") %>
<link href="/style.css" rel="stylesheet"></head>

<body>

  <header>
    <%- include("./partials/header") %>
  </header>
  <main>  
        
        <div class="container01">
            <ul>
            <li>MINHA CESTA</li>
            <li>PAGAMENTO</li>
            <li>AGRADECEMOS PELA COMPRA!</li>
            </ul>
        </div>

        <div class="container1">

            <div class="child">
                <h2>Detalhes do Pedido</h2>
                <br>
                <p>01 Jogo Spider Man - PS5</p>
                <p style="color: red;">R$ 295,90 - Á vista</p>
                <p style="color: rgb(36, 148, 36)">Frete Grátis</p>
                
            </div>
            <div class="child">
                <h2>Endereço de Entrega</h2>
                <br>
                <br>
                <p>Rua: Marechal Deodoro, 712 Bairro: Jardins</p>
                <p>Campina Grande - PB</p>
                <p>CEP: 58.152-89</p>
                <p>Completo: AP:101 BL:C</p>
                <p>Próximo ao Shopping</p>
            </div>

        <div class="container2">

            <div class="child2">
                <h2>Formas de Pagamento</h2>
                <br>
                <br>
                <br>
                <ul>
                <li>Á vista</li>
                <li>Cartão de crédito</li>
                <li>PIX</li>
                </ul>   
                <br>
            </div>
            <div class="child2">
                <h2>Dados Do Cliente</h2>
                <br>
                <br>
            <p>NOME: Amanda Mirelly Carvalho Belmont   ESTADO CIVIL: Casada</p>
           
            <br>
            <p>PROFISSÃO: Desenvolvedora Web Full Stack</p>
            </div>

        </div>
        </div>
      </main>
    </body>

    <footer>
        <%- include("./partials/footer") %>
    </footer> 
    </html>   
