<!DOCTYPE html>

<head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
    <title>Categorias jogos</title></head>
<body>
    <header>
        <%- include("./partials/header") %>
      </header> 
<main>
    <h1>CATEGORIAS DE JOGOS</h1>

<section class="CATEGORIAS">
    <div class="AVENTURA">
        
        <img src="aventura.png">
        <p>AVENTURA</p>
    </div>

    <div class="LUTA">
    
     <img src="luta.png">
     <p>LUTA</p>
    </div>

    <div class="CORRIDA">
       
        <img src="Corrida.png">
        <p>CORRIDA</p>
    </div>

    <div class="ESTRATÉGIA">
        
        <img src="estrategia.png">
        <p>ESTRATÉGIA</p>
    </div>
    <div class="AÇÃO">
        
        <img src="ação.png">
        <p>AÇÃO</p>
    </div>
    <div class="TERROR">
        
        <img src="Terror.png">
        <p>TERROR</p>
    </div>
     </section>
    </main>
    </body>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</html>