<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
      
    <h1>CATEGORIAS DE JOGOS</h1>

<section class="CATEGORIAS">
    <div class="AVENTURA">
        
        <img src="imagem/aventura.png">
        <p>AVENTURA</p>
    </div>

    <div class="LUTA">
    
     <img src="imagem/luta.png">
     <p>LUTA</p>
    </div>

    <div class="CORRIDA">
       
        <img src="imagem/Corrida.png">
        <p>CORRIDA</p>
    </div>

    <div class="ESTRATÉGIA">
        
        <img src="imagem/estrategia.png">
        <p>ESTRATÉGIA</p>
    </div>
    <div class="AÇÃO">
        
        <img src="imagem/ação.png">
        <p>AÇÃO</p>
    </div>
    <div class="TERROR">
        
        <img src="imagem/Terror.png">
        <p>TERROR</p>
    </div>
     </section>
    </body>
</html>