    <head><%- include("./partials/head") %></head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>    
<main>
    <div class="banner">
        <img src="img/Rectangle 3.png" alt="Imagem do produto 1">
        
        <span class="botao-esquerda">
           <span> <img  src="img/Ellipse 2.png" alt="Imagem do produto 2"> </span>
        </span>
       
        <span id="seta-esquerda"><img src="img/Vector-1.png" alt="seta esquerda"></span>
       
        <span class="botao-direita">
            <span> <img  src="img/Ellipse 2.png" alt="botão seta 2"> </span>
        </span>

        <span id="seta-direita"><img src="img/Vector.png" alt="seta direita"></span>
    
    </div>
    <article  class="detalhesDoProduto">
        <div class="produto">
            <img src="img/Rectangle 6.png" alt="Foto do produto">
            <h1 class="Descrição">Descrição do Produto</h1>
            <h4 class="preço">Preço: R$1200</h4>
            <h3 class="preço">Detalhes do produto</h3>
            <h5 class="texto">Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est. Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Casamentiss faiz malandris se pirulitá. Cevadis im ampola pa</h5>
        </div>
     
    </article>
    <div class="menu"></div>

        <h2 class="subtítulo">Jogos sugeridos</h2>
         <div class="opcao-1">

          <div class="Imagem-Menu">
           <a href="www.google.com"><img src="img/Rectangle 11.png" alt="opcao-1"></a>
        </div>
          <div class="opcao-1-texto">Opção 1</div>

        </div>

       <div class="opcao-2">
        <div class="Imagem-Menu">
       <a href="www.google.com"><img src="img/Rectangle 12.png" alt="opcao-2"></a>
        </div>
        <div class="opcao-2-texto">Opção 2 </div>
       </div>



    </div>
    <div></div>
</main>
<footer>
    <%- include("./partials/footer") %>
</footer> 

</body>
