    <head><%- include("./partials/head") %></head>
    <link href="/style.css" rel="stylesheet">
<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
<main>
    <div class="Controle">
        <img class=banner src="banner.png" alt="Imagem do produto 1">
       <div class="botoes">
        <span id="seta-esquerda"><img src="Vector-1.png" alt="seta esquerda"></span>
        <span id="botao-esquerda"><img src="Ellipse 1.png" alt="botão esquerda"></span>
      
        <span id="seta-direita"><img src="Vector.png" alt="seta direita"></span>
        <span id="botao-direita"><img src="Ellipse 2.png" alt="botão direita"></span>
    </div>
    </div>

    <article  class="detalhesDoProduto">
        <div class="produto">
            <img src="xbox.jpg" alt="Foto do produto">
            <h1 class="Descrição">Descrição do Produto</h1>
            <div class="infos-produto">
            <h2 class="nomeproduto">Xbox One X</h2>
            <h3 class="preço">R$2200</h3>
            <h5 class="textoproduto">Detalhes do produto:
                <br>
                Inclui controle.
                <br>
                Resolução de 3840px x 2160px.
                <br>
                Memória RAM de 12GB.
                <br>
                Horas de diversão garantidas.
                <br>
                Conta com: 1 cabo hdmi, 1 assinatura a xbox game pass por 1 mês, 1 assinatura a xbox live gold por 14 dias, 1 cabo de alimentação ca.</h5>
            </div>
            </div>
    
    </article>
    <div class="video-produto">
<img class="video" src="videoXbox.png" alt="vídeo xbox">
  <img class="play" src="play.png" alt="Assista ao vídeo">
  <h5 class="legenda-video">Os verdadeiros jogos em 4K começam aqui
    Experimente uma jogabilidade em 4K imersiva, onde a ação ganha vida com frame buffers de 2160p e 6 Teraflops de potência de processamento gráfico.</h5>
</div>
    <div class="menu"></div>

        <h2 class="jogos-sugeridos">Aproveite para jogar</h2>
         <div class="opcoesjogos">

          <div class="opcao-1">
           <a href="www.google.com"><img src="dead.png" alt="Dead by day light"></a>
        </div>

        <div class="opcao-2">
       <a href="www.google.com"><img src="reddead.jpg" alt="Read Dead Redemption"></a>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD
        <div class="opcao-2-texto">Opção 2 </div>
       </div>       
=======
       
=======
        <div class="opcao-3">
            <a href="www.google.com"><img src="farcry.png" alt="Far cry 6"></a>
             </div>
>>>>>>> 6327e95debdf564a9cb71ce8f2af56b29ac47fae
       </div>
    </div>

       
>>>>>>> 73db06a5cca3b8d91c539b7b1955d7cd6f8ac8c4
    </div>
    <div></div>
</main>

<footer>
    <%- include("./partials/footer") %>
</footer> 

</body>
