<head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
   </head>
 
<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
<main>
    <html>
        <div class=finalizacao>
        <div><h1 class="compraFinalizada">Compra finalizada com sucesso!</h1></div>
        <div class="pedidoFinalizado">
            <img class=imgPedido src="pedidoFinalizado.png" alt="Pedido Finalizado">
            <h1 class="txtPedido">Pedido Finalizado</h1>
        </div>  
        <div> <h2 class="tksPedido">Agradecemos por sua compra</h2></div>
        <div> <h2 class="numPedido">Número do pedido 505434</h2></div>
    </div>
</html>
</main>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</body>