<body>
    <h1>Promoção do Dia</h1>

    <section class="flex">
    <div class="imagem1">
      <img src= "gp.png" alt="">
      <p><b>R$ 150,00</b></p>
      <p>Frete Grátis</p>
      <p>COMPRAR</p>
    </div>
    <div>
        <img src="horizon.png" alt="">
        <p><b>R$ 230,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="marvel.png" alt="">
        <p><b>R$ 110,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="./imagens/mortal.png" alt="">
        <br>
        <p><b>R$ 315,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="./imagens/spider.png" alt="">
        <p><b>R$ 225,00</b></p>
        <p>Frete Grátis</p>
     <p>COMPRAR</p>
    </div>
    </section>

    <h2>Categorias</h>
    <section class="flex2">
      <div>
        <img src="./imagens/playstation.jpg" alt="">
        <p>VIDEO GAMES</p>
      </div>
      <div>
      <img src="./imagens/psp.jpg" alt="">
       <p>PSP</p>
      </div>
      <div>
      <img src="./imagens/console.jpg" alt="">
      <p>CONSOLES</p>
      </div>
    </section>

    <section class="anuncio">
      <div class="digital">
      <img src="./imagens/anuncio.jpg">
      </div>
    </section>
    <br>

    <h3>JOGOS MAIS PROCURADOS</h3>

    <section class="procurados">
      <div>
        <img src="./imagens/assassins.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/grandtheft.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/horizon.png" alt="">
      </div>
      <div>
      <img src="./imagens/knack.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/watch.jpg" alt="">
      </div>
    </section>
    <br>

    <h3>RECÉM LANÇADOS</h3>

    <section class="lancados">
      <div>
        <img src="./imagens/godOfWar.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/granturismo.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/tomb.jpg" alt="">
      </div>
      <div>
      <img src="./imagens/spider.png" alt="">
      </div>
      <div>
      <img src="./imagens/gp.png" alt="">
      </div>
    </section> 

  </body>
</html>