<head><%- include("./partials/head") %></head>
<link href="/style.css" rel="stylesheet">
<body>
  <header>
    <%- include("./partials/header") %>
  </header> 
  <main>
    <h1 class="titulo">Promoção do Dia</h1>

    <section class="flex">
    <div class="imagem1">
      <img src= "gp.png" alt="">
      <p><b>R$ 150,00</b></p>
      <p>Frete Grátis</p>
      <p>COMPRAR</p>
    </div>
    <div>
        <img src="horizon.png" alt="">
        <p><b>R$ 230,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="marvel.png" alt="">
        <p><b>R$ 110,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="mortal.png" alt="">
        <br>
        <p><b>R$ 315,00</b></p>
     <p>Frete Grátis</p>
        <p>COMPRAR</p>
    </div>
    <div>
        <img src="spider.png" alt="">
        <p><b>R$ 225,00</b></p>
        <p>Frete Grátis</p>
     <p>COMPRAR</p>
    </div>
    </section>

    <h2>Categorias</h>
    <section class="flex2">
      <div>
        <img src="playstation.jpg" alt="">
        <p>VIDEO GAMES</p>
      </div>
      <div>
      <img src="psp.jpg" alt="">
       <p>PSP</p>
      </div>
      <div>
      <img src="console.jpg" alt="">
      <p>CONSOLES</p>
      </div>
    </section>

    <section class="anuncio">
      <div class="digital">
      <img src="anuncio.jpg">
      </div>
    </section>
    <br>

    <h3>JOGOS MAIS PROCURADOS</h3>

    <section class="procurados">
      <div>
        <img src="assassins.jpg" alt="">
        <p><b>R$ 189,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="grandtheft.jpg" alt="">
      <p><b>R$ 353,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="horizon.png" alt="">
      <p><b>R$ 123,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="knack.jpg" alt="">
      <p><b>R$ 225,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="watch.jpg" alt="">
      <p><b>R$ 210,00</b></p>
        <p>Frete Grátis</p>
      </div>
    </section>
    <br>

    <h3>RECÉM LANÇADOS</h3>

    <section class="lancados">
      <div>
        <img src="godOfWar.jpg" alt="">
        <p><b>R$ 199,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="granturismo.jpg" alt="">
      <p><b>R$ 296,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="tomb.jpg" alt="">
      <p><b>R$ 135,00</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="spider.png" alt="">
      <p><b>R$ 210,90</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="gp.png" alt="">
      <p><b>R$ 126,90</b></p>
        <p>Frete Grátis</p>
      </div>
    </section> 
  </body>
</main>
  <footer>
    <%- include("./partials/footer") %>
</footer> 
</html>