<head><%- include("./partials/head") %>
<link href="/style.css" rel="stylesheet">
<title>GAMEZONE</title>
</head>
<body>
  <header>
    <%- include("./partials/header") %>
  </header> 
  <main>
    <h1 class="titulo">Promoção do Dia</h1>
    <% for(let i=0; i <= 5; i ++) {%>
    <section class="flex">
    <div class="imagem1">
      <img src= "mockupjogo.jpg" alt="">
      <p><b> product[i].name</b></p>
        <p><b>product[i].price </b></p>
      <p>Frete Grátis</p>
      <a href="http://localhost:3000/carrinho"> <button src= "mockupjogo.jpg">COMPRAR</button> </a>
    </div>
    
    </section>
    <%} %>
    <h2>Categorias</h>
    <section class="flex2">
      <div>
        <img src="playstation.jpg" alt="">
        <p>VIDEO GAMES</p>
      </div>
      <div>
      <img src="psp.jpg" alt="">
       <p>PSP</p>
      </div>
      <div>
      <img src="console.jpg" alt="">
      <p>CONSOLES</p>
      </div>
    </section>

    <section class="anuncio">
      <div class="digital">
      <img src="anuncio.jpg">
      </div>
    </section>
    <br>

    <h3>JOGOS MAIS PROCURADOS</h3>

    <section class="procurados">
      <% for(let i=0; i <= 5; i ++) {%>
      <div>
        <img src="mockupjogo.jpg" alt="">
        <p><b>products[i].name</b></p>
        <p><b>products[i].price</b></p>
        <p>Frete Grátis</p>
      </div>
      <!-- <div>
      <img src="grandtheft.jpg" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="horizon.png" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="knack.jpg" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="watch.jpg" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p> -->
      </div>
    </section>
    <br>
<%} %>
    <h3>RECÉM LANÇADOS</h3>

    <section class="lancados">
      <% for(let i=0; i <= 5; i ++) {%>
      <div>
        <img src="mockupjogo.jpg" alt="">
        <p><b>products[i].name</b></p>
        <p><b>products[i].price</b></p>
        <p>Frete Grátis</p>
      </div>
      <!-- <div>
      <img src="granturismo.jpg" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="tomb.jpg" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="spider.png" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div>
      <div>
      <img src="gp.png" alt="">
      <p><b>products[i].preco</b></p>
        <p>Frete Grátis</p>
      </div> -->
    </section> 
    <%} %>
  </body>
</main>
  <footer>
    <%- include("./partials/footer") %>
</footer> 
</html>