<!DOCTYPE html>
<html>
  <head>
    <title> Olá </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Olá</h1>
    <p>Bem-vindo ao projeto integrador
    
    </p>
  </body>
</html>
