<head><%- include("./partials/head") %>
    <link href="/style.css" rel="stylesheet">
    <script src="sweetalert2.all.min.js"></script>
    
    <title>Cadastro | Login</title></head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
<main>
    <html>
        <h1>Seja bem-vindo(a)!</h1>
        <div class="cadastro">
        <div class="Login">
            <h2>LOGIN</h2>
        <form id="formularioLogin" action="/usuario/login" method="post" name="formularioLogin">
            <div class="email">
                <label for="email">E-mail</label>
                <input type="email" id="email1" name="email" required/>
            </div>
            <div class="password">
                <label for="password">Senha</label>
                <input type="password" id="password1" name="senha" required/>
            </div>
                <button id="Enviar" action="/users/login" method="post" >Enviar</button>
            
        </form>
    </div>
</div>

    <ul id="errors"></ul>
</html>
</main>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</body>