<%- include("./partials/header") %>
<body>
    <header>
        <%- include("./partials/header") %>
      </header> 
         <main class="main-home m-5 d-flex justify-content-center">

           <div class="perfil">
            <h1 class="text-center">PERFIL DO CLIENTE</h1>
            <h3 class="text-center">Informações sobre:</h3>
                            
           </div>
               
           <form action="/painelusuario/:id/update?_method=PUT" method="post" >

            <div class="form-floating p-1 col-md-8">
              
                <label for="nome" class="form-label">Nome: </label> 
                <input action="/painelusuario/:id/update?_method=PUT" method="post" type="text" name="nome" class="form-control" value=""> 
                
            </div>  
            <br>
       
            <div class="form-floating p-1 col-md-8">
                <label for="senha" class="form-label">Senha:</label>
                <input type="password" name="senha" class="form-control" value=""> 
            
            </div>
            <br>

            <div class="form-floating p-1 col-md-8">
                <label for="endereco" class="form-label">Endereço:</label>   
                <input type="text" class="form-control" name="endereco" value="">
              
            </div> 

            <div class="form-floating p-1 col-md-8">
                <label for="endereco" class="form-label">Telefone:</label>   
                <input type="text" class="form-control" name="telefone" value="">                         
            </div>   
            <button action="/painelusuario/:id/update?_method=PUT" method="post" >Editar</button>    
        </form>
        </div> 
        <h2><button method="post" type="delete" name="nomeDelete">Apagar usuário</button>   </h2>   



    <div class="container-principal1">
        <h2>INFORMAÇÃO SOBRE SEUS PRODUTOS</h2>
        <div class="info-container">
            <div class="produto">
            <div class="foto"><img width= "100" src="marvel.png" ></div>
            <div class="texto">
            <h3>Jogo Marvel Xbox</h3>
                  <p class="valor">R$ 150,00</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de Parcelas: 02</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
            </div>
        <div class="produto">
        <div class="foto"><img width="100" src="Corrida.png"></div>
        <div class="texto">

        <h3>Jogo F1 Xbox</h3>
              <p class="valor">R$ 89,90</p>
              <p class="quantidade">Quantidade: 01</p>
              <p class="NumeroPar">Número de Parcelas: 02</p>
              <p class="formaPagamento">Forma de Pagamento: Cartão</p>
        </div>
        </div>
        <div class="produto">
    <div class="foto"><img width="100" src="mortal.png"></div>
    <div class="texto">

            <h3>Jogo Mortal Kombat Playstation</h3>
                  <p class="valor">R$ 359,90</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 04</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
                <div class="produto">
        <div class="foto"><img width="100" src="xbox.jpg"></div>
        <div class="texto">
        
            <h3>Xbox One</h3>
                  <p class="valor">R$ 4.500</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 10</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
        </div>
     

    </div>
    </div>
    </div>
</div>

</body>
<footer>
    <%- include("./partials/footer") %>
</footer> 
</html> 