<!DOCTYPE html>
<html lang="en">
<head><%- include("./partials/head") %>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style.css'/>
    <title>Document</title>
</head>
<%- include("./partials/header") %>
<div>
        <div class="container-cliente">
            <div class="container-perfil-cliente">
                <div class="foto-cliente"><img width="100 " src="./perfil.png" >
                <p class="Editar perfil">Editar perfil</p>
            </div>
                <div class="engrenagem"><img width="50" src="./engrenagem.png" ></div>
                <div class="texto-cliente">
                <p class="Bem-vindo-cliente">Bem-vindo, Nome do cliente</p>
                <p class="email-cliente">E-mail do cliente</p>
            </div>
            </div>
        
            <div class="container-saldo-cliente">
                <p class="saldo-cliente">Saldo do cliente</p>
                <p class="valor-disponivel-cliete">R$VALOR DISPONÍVEL</p>
            </div>

        </div>
    <div class="container-principal1">
        <h2>INFORMAÇÃO SOBRE SEUS PRODUTOS</h2>
        <div class="info-container">
            <div class="produto">
            <div class="foto"><img width= "100" src="marvel.png" ></div>
            <div class="texto">
            <h3>Jogo Marvel Xbox</h3>
                  <p class="valor">R$ 150,00</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de Parcelas: 02</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
            </div>
        <div class="produto">
        <div class="foto"><img width="100" src="Corrida.png"></div>
        <div class="texto">

        <h3>Jogo F1 Xbox</h3>
              <p class="valor">R$ 89,90</p>
              <p class="quantidade">Quantidade: 01</p>
              <p class="NumeroPar">Número de Parcelas: 02</p>
              <p class="formaPagamento">Forma de Pagamento: Cartão</p>
        </div>
        </div>
        <div class="produto">
    <div class="foto"><img width="100" src="mortal.png"></div>
    <div class="texto">

            <h3>Jogo Mortal Kombat Playstation</h3>
                  <p class="valor">R$ 359,90</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 04</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
                <div class="produto">
        <div class="foto"><img width="100" src="xbox.jpg"></div>
        <div class="texto">
        
            <h3>Xbox One</h3>
                  <p class="valor">R$ 4.500</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 10</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
        </div>
     

    </div>
    </div>
    </div>
</div>

</body>

</html>