<!DOCTYPE html>
<html lang="en">
<head><%- include("./partials/head") %>
    <link rel="stylesheet" href="style.css">
    <title>Painel Usuário</title>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
      </header> 
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    <div class="sidebar">
      <h1>Meu aplicativo</h1>
      <ul>
          <li><a href="#"><i class="fast fas-qrcode"></i>Painel de Controle</a></li>
          <li><a href="#"><i class="fast fas-link"></i>Atalhos</a></li>
          <li><a href="#"><i class="fast fas-fa-stream"></i>Visões Gerai</a></li>
          <li><a href="#"><i class="fast fas-calendar"></i>Eventos</a></li>
          <li><a href="#"><i class="fast fas-question"></i>About</a></li>
          <li><a href="#"><i class="fast fas-sliders-h"></i>Serviços</a></li>
          <li><a href="#"><i class="fast fas-envelope"></i>Contatos</a></li>

      </ul>
    </div><!--sidebar-->
    <section></section>
    <footer>
        <%- include("./partials/footer") %>
    </footer> 
</body>

</html>