<!DOCTYPE html>
<html lang="en">
<head><%- include("./partials/head") %>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style.css'/>
    <title>Document</title>
</head>
<%- include("./partials/header") %>
<div>
        <div class="container-cliente">

        </div>
    <div class="container-principal1">
        <h2>IMFORMAÇÃO SOBRE SEUS PRODUTOS</h2>
        <div class="info-container">
            <div class="produto">
            <div class="foto"><img width= "100" src="./produto.png" ></div>
            <div class="texto">
            <h3>Nome do produto</h3>
                  <p class="valor">R$Valor</p>
                  <p class="quantidade">quantidade</p>
                  <p class="NumeroPar">Número de parcelas</p>
                  <p class="formaPagamento">Forma de pagamento e parceladoX1</p>
                </div>
            </div>
        <div class="produto">
        <div class="foto"><img width="100" src="./produto.png"></div>
        <div class="texto">

        <h3>Nome do produto</h3>
              <p class="valor">R$Valor</p>
              <p class="quantidade">quantidade</p>
              <p class="NumeroPar">Número de parcelas</p>
              <p class="formaPagamento">Forma de pagamento e parceladoX1</p>
        </div>
        </div>
        <div class="produto">
    <div class="foto"><img width="100" src="./produto.png"></div>
    <div class="texto">

            <h3>Nome do produto</h3>
                  <p class="valor">R$Valor</p>
                  <p class="quantidade">quantidade</p>
                  <p class="NumeroPar">Número de parcelas</p>
                  <p class="formaPagamento">Forma de pagamento e parceladoX1</p>
                </div>
                </div>
                <div class="produto">
        <div class="foto"><img width="100" src="./produto.png"></div>
        <div class="texto">
        
            <h3>Nome do produto</h3>
                  <p class="valor">R$Valor</p>
                  <p class="quantidade">quantidade</p>
                  <p class="NumeroPar">Número de parcelas</p>
                  <p class="formaPagamento">Forma de pagamento e parceladoX1</p>
                </div>
                </div>
        </div>
     

    </div>
    </div>
    </div>
</div>
</body>
</html>