<!DOCTYPE html>
<html lang="en">
<head><%- include("./partials/head") %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontwasome.a076d05399.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
      </header> 
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    <div class="sidebar">
      <header>Meu aplicativo</header>
      <ul>
          <li><a href="#"><i class="fast fas-qrcode"></i>Painel de Controle</a></li>
          <li><a href="#"><i class="fast fas-link"></i>Atalhos</a></li>
          <li><a href="#"><i class="fast fas-fa-stream"></i>Visões Gerai</a></li>
          <li><a href="#"><i class="fast fas-calendar"></i>Eventos</a></li>
          <li><a href="#"><i class="fast fas-question"></i>About</a></li>
          <li><a href="#"><i class="fast fas-sliders-h"></i>Serviços</a></li>
          <li><a href="#"><i class="fast fas-envelope"></i>Contatos</a></li>
          




           

      </ul>
    </div><!--sidebar-->
    <section></section>
</body>
</html>