<%- include("./partials/header") %>
<body>
    <header>
        <%- include("./partials/header") %>
      </header> 
         <main class="main-home m-5 d-flex justify-content-center">

           <div class="perfil">
            <h1 class="text-center">PERFIL DO CLIENTE</h1>
            <h3 class="text-center">Informações sobre:  </h3>
           </div>
               
           <form action="" method="post"></form>

            <div class="form-floating p-1 col-md-8">
              
                <label for="nome" class="form-label">Nome: </label> 
                <input type="text" name="nome" class="form-control" value=""> 
                <button type="submit" class="btn-outline-success align-middle">Editar</button>  
                <button type="delete" class="btn-outline-success align-middle">Apagar</button>       
            </div>  
            <br>
       
            <div class="form-floating p-1 col-md-8">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" name="nome" class="form-control" value=""> 
                <button type="submit" class="btn-outline-success align-middle">Editar</button>  
                <button type="delete" class="btn-outline-success align-middle">Apagar</button>
            </div>
            <br>

             <div class="form-floating p-1 col-md-8">
                <label for="CEP" class="form-label">CEP:</label> 
                <input type="text" name="nome" class="form-control" value=""> 
                <button type="submit" class="btn-outline-success align-middle">Editar</button> 
                <button type="delete" class="btn-outline-success align-middle">Apagar</button> 
                                              
            </div>
            <br>

            <div class="form-floating p-1 col-md-8">
                <label for="endereco" class="form-label">Endereço:</label>   
                <input type="text" class="form-control" name="endereco" value="">
                <button type="submit" class="btn-outline-success align-middle">Editar</button>  
                <button type="delete" class="btn-outline-success align-middle">Apagar</button>                           
            </div>   
            
            </div>
        </div> 
        



    <div class="container-principal1">
        <h2>INFORMAÇÃO SOBRE SEUS PRODUTOS</h2>
        <div class="info-container">
            <div class="produto">
            <div class="foto"><img width= "100" src="marvel.png" ></div>
            <div class="texto">
            <h3>Jogo Marvel Xbox</h3>
                  <p class="valor">R$ 150,00</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de Parcelas: 02</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
            </div>
        <div class="produto">
        <div class="foto"><img width="100" src="Corrida.png"></div>
        <div class="texto">

        <h3>Jogo F1 Xbox</h3>
              <p class="valor">R$ 89,90</p>
              <p class="quantidade">Quantidade: 01</p>
              <p class="NumeroPar">Número de Parcelas: 02</p>
              <p class="formaPagamento">Forma de Pagamento: Cartão</p>
        </div>
        </div>
        <div class="produto">
    <div class="foto"><img width="100" src="mortal.png"></div>
    <div class="texto">

            <h3>Jogo Mortal Kombat Playstation</h3>
                  <p class="valor">R$ 359,90</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 04</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
                <div class="produto">
        <div class="foto"><img width="100" src="xbox.jpg"></div>
        <div class="texto">
        
            <h3>Xbox One</h3>
                  <p class="valor">R$ 4.500</p>
                  <p class="quantidade">Quantidade: 01</p>
                  <p class="NumeroPar">Número de parcelas: 10</p>
                  <p class="formaPagamento">Forma de Pagamento: Cartão</p>
                </div>
                </div>
        </div>
     

    </div>
    </div>
    </div>
</div>

</body>
<footer>
    <%- include("./partials/footer") %>
</footer> 
</html> 