<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style.css'/>
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="chec">
    <label for="chec">

        <img src="icone_1.png">
    </label>
    <nav>
       <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">NOVIDADES</a></li>
        <li><a href="">SUPORTE</a></li>
        <li><a href="">CONTATO</a></li>
        <li><a href="">SOBRE</a></li>


       </ul>


    </nav>

</body>
</html>