<footer>

    <div>
    <p class="TextoLegal">GAMEZONE® é uma marca registrada de GAMEZONE COMÉRCIO ELETRÔNICO S/A | CNPJ: 02.423.242/0001-43 | Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso. A GAMEZONE não é responsável por erros descritivos. As fotos contidas nesta página são meramente ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante.</p>  
   
</div>
    <div class="redes-sociais">
    <p class="redes">NOSSAS REDES SOCIAIS:</p>
    <div class="logo-redes">
    <img class= "instagram" src="instagram-brands (1) 1.png" alt="Instagram">
    <img class= "Facebook" src="Vector (1).png" alt="Facebook">
    <img class= "WhatsApp" src= "whatsapp.png" alt="WhatsApp">
</div> 
    </div>
    </footer>
  