<footer>

    <div>
    <p class="TextoLegal">GAMEZONE® é uma marca registrada de GAMEZONE COMÉRCIO ELETRÔNICO S/A | CNPJ: 02.423.242/0001-43 | Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional podem ser alterados sem prévio aviso. A GAMEZONE não é responsável por erros descritivos. As fotos contidas nesta página são meramente ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante.</p>
    </div>
    <div class="redes-sociais">
    <p>Acesse nossas redes:</p>
    <img src="instagram-brands (1) 1.png" alt="Instagram">
    <img src="Vector (1).png" alt="Facebook">
    <img src="whatsapp-square-brands 1.png" alt="WhatsApp">
    </div>
    
    </footer>
  