<footer>
    <img src="image 1.png" alt="Mapa" class="mapa">
    <div>
    <span class="Endereço">Conheça nossa loja
    </span>
    <p class="Endereço">São Paulo, SP, Brasil - CEP:4071002  </p>
    <p class="Endereço">(11) 96845-8512</p>
    <p class="Endereço">contatops5@gmail.com</p>
    <p class="Endereço">NOSSAS REDES SOCIAIS</p>
    </div>
    <div class="redes-sociais">
    <img src="instagram-brands (1) 1.png" alt="Instagram">
    <img src="Vector (1).png" alt="Facebook">
    <img src="whatsapp-square-brands 1.png" alt="WhatsApp">
    </div>
    
    </footer>
  