    <header>
        <div class="retangulo-header"></div>
        <div id="logo">
        <img src="img/logo.jpg" alt="Logo jogos">
        <img src="img/Vector-2.png" alt="Menu" id="botao-menu">
    </div>
    </header>
