    <header>
        <div class="retangulo-header"></div>
        <div id="logo">
        <img src="logo.png" alt="Logo">
        <img src="Vector-2.png" alt="Menu" id="botao-menu">
    </div>
    </header>
    </header>
