<head>
    <link href="/style.css" rel="stylesheet"></head>
    <header>
        <!-- Header anterior para histórico

            <div class="retangulo-header" ></div>
        <div id="logo" >
         <a href="http://localhost:3000/"><img src="logo.png" alt="Logo"></a>
        <a href="http://localhost:3000/carrinho"><img src="carrinho.png" alt="Menu" id="carrinho"></a>

        
        <a href="http://localhost:3000/cadastro"><img src="icon.png" alt="Login" id="login"></a> 
        <div class="textoMenu">
            <a href="http://localhost:3000/" class="consolesMenu">HOME</a>
           <a class="jogosMenu"href="http://localhost:3000/categoriaProduto">JOGOS</a>
           <a class="contatosMenu" href="http://localhost:3000/painelusuario">USUÁRIO</a>
           <a class="sairMenu" href="http://localhost:3000/users/logout">sair</a>
        </div>
        <button class=lupaBusca alt="Lupa"> <img src="lupa.png"></button>
        <form id="formulario">
            <div class="forms" name="buscaProduto" action="/detalhesProduto" method="get">
                <a href="http://localhost:3000/detail/:id'"> <label id="txtBusca" for="search" ></label></a>
                <input type="text" id="busca"/>
                </form>
            </div>
    </div> -->

    <header class="p-3 text-bg-dark">
        <div class="container">
            
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="logo.png" alt="Logo" width="130" height="130">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="http://localhost:3000/" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="http://localhost:3000/categoriaProduto" class="nav-link px-2 text-white" >Jogos</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Promoções</a></li>
              <li><a href="http://localhost:3000/carrinho" class="nav-link px-2 text-white">Carrinho</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Entre</button>
            </div>
          </div>
        </div>
      </header>
      </body>
    </header>
    