    <header>
        <div class="retangulo-header"></div>
        <div id="logo">
        <img src="logo.jpg" alt="Logo jogos">
        <img src="../../../public/img/Vector (1)" alt="Menu" id="botao-menu">
    </div>
    </header>
