<head>
    <link href="/style.css" rel="stylesheet"></head>
    <header>
        <div class="retangulo-header"></div>
        <div id="logo">
        <img src="logo.png" alt="Logo">
        <img src="Vector-2.png" alt="Menu" id="botao-menu">
        <img src="icon.png" alt="Login" id="login">
        <div class="textoMenu">
            <h2 class="consolesMenu" >CONSOLES</h2>
            <h2 class="jogosMenu">JOGOS</h2>
            <h2 class="contatosMenu">CONTATOS</h2>
        </div>
        <img class=lupaBusca src="lupa.png" alt="Lupa">
        <form id="formulario">
            <div class="forms">
                <label id="txtBusca" for="search" ></label>
                <input type="text" id="busca"/>
                </form>
            </div>
    </div>
    </header>
    </header>
